<%= turbo_frame_tag "frame-tag" do %>
  <%= link_to "previous frame", show_game_frame_url(@frame.prev_frame) unless @frame.prev_frame.nil? %>

  <%= link_to "next frame", @frame.next_frame ? show_game_frame_url(@frame.next_frame) : new_game_frame_url(@frame), id: "next-frame" %>

  <button id="autoplay" onClick="autoplay()">Autoplay</button>
  <script>
    function autoplay(){
      document.autoplayInterval = setInterval(() => {
        nextFrameLink = document.getElementById("next-frame").click();
        nextFrameLink.click();
      }, 500);
    }
  </script>

  <div class="game-frame">
    <div class="game-frame-grid" style="grid-template-columns: <%= "20px " * @frame.game.board_width %>;">
      <% @frame.state.chars.each do |cell| %>
        <div class="game-frame-cell <%= cell == "*" ? "alive" : "dead" %>"></div>
      <% end %>
    </div>
  </div>
<% end %>
